################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToastNotificationException/.vs/ToastNotificationException/v16
